/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600&display=swap');

/*reset css*/
*, *:hover, *:active, *:focus {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
html {
    /*font-family: 'Inter', sans-serif;*/
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: rgba(100, 100, 100, 1);
}
/*template css classes*/
.title {
    font-size: 20px;
    color: #78cc6d;
    line-height: 21px;
    min-height: 51px;
    font-weight: 600;
    position: relative;
    padding: 0 0 30px 0;
}

.title:after {
    content: '';
    position: absolute;
    left: -30px;
    right: 0;
    bottom: 0;
    width: auto;
    height: 1px;
    background: radial-gradient(ellipse at left, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}

.title:before {
    content: "";
    position: absolute;
    left: -12px;
    top: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(135deg, rgba(120, 204, 109, .4), rgba(120, 204, 109, .01));
    z-index: 0;
    border-radius: 30px;
}

.title span {
    color: #323232;
}
/*content*/
.content {
    margin: 0 0 40px 0;
}
.row{
    display: flex;
}
.fb50{
    flex-basis: 50%;
}
.card__template{
    padding: 30px;
}
.border__left,.border__top,.border__bottom,.border__top,.border__right{
    position: relative;
}
.border__left:before,.border__bottom:before,.border__top:before,.border__right:before{
    content: "";
    position: absolute;
}
.border__left:before{
    left: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background: radial-gradient(ellipse at top, rgba(197, 202, 213, .7) 0, hsla(0, 0%, 100%, 0) 70%);
}
.border__bottom:before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}
.border__top:before{
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at center, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}
.border__right:before{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: radial-gradient(ellipse at right, #dddddd 0%, rgba(255, 255, 255, 0) 70%);
}
.wrapper{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;position: fixed;
    overflow: hidden;
    background: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
    z-index: -1;
}
.bg-bubbles{

}
.bubble__container{
    position: fixed;
    transform: translateY(-100%);
}
.bubble{
    background-color: hsla(0,0%,100%,.1);
    border-radius: 4px;
}
.container{
    max-width: 1268px;
    max-height: 674px;
    display: flex;
    padding: 10px;
}
/*navbar menu*/
header.header{
    margin-right: 8px;
}
.menu{
    border-radius: 4px;
    background: #ffffff;
    min-width: 72px;
}
.menu,a.menu__link {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu__item {
    width: 100%;
}
a.menu__link:hover,.menu__link.active{
    color: rgba(120, 204, 109, 1);
}
a.menu__link {
    padding: 13px 3px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    color: #323232;
    transition: color .5s;
}

.material-symbols-outlined {
}

.link__text {
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
}

/*profile card*/
.profile__card{
    position: relative;
    width: 480px;
    min-height: 674px;;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: 8px 9px 16px -10px rgba(0, 0, 0, 0.61);
    display: flex;
    flex-direction: column;
}
.profile__card:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: -15px;
    left: -15px;
    background: linear-gradient(135deg, rgba(120, 204, 109, 0.4) 0%, rgba(120, 204, 109, 0.01) 100%);
    border-radius: 4px;
}
.profile__card__photo{
    height: 384px;
    position: relative;
    overflow: hidden;

}
.profile__card__photo:before, .profile__card__photo:after {
    content: "";
    position: absolute;
    left: -25%;
    bottom: -198px;
    width: 700px;
    height: 200px;
    background: #fff;
    transform: rotate(12deg);
    z-index: 2;
}

.profile__card__photo:after {
    transform: rotate(-12deg);
}
.profile__card__photo img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.profile__card__title{
    font-weight: 400;
    font-size: 34px;
    line-height: 32px;
    color: #323232;
    margin-top: 20px;
    text-align: center;
}
.profile__card__subtitle{
    margin: 10px 0px 16px 0;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.subtitle-typed{
    color: #78cc6d;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #78cc6d;
    width: fit-content;
}
.profile__card__social{
    display: flex;
    justify-content: center;
    column-gap: 12px;
    font-size: 20px;
    flex: 1;
}
.profile__card__social a{
    text-decoration: none;
    color: #323232;
    width: 20px;
    height: 20px;
    transition: color .3s;
    font-size: 16px;
}
.profile__card__social a:hover,.link__btn:hover {
    color: #78cc6d;
}
.profile__card__links{
    display: flex;
    position: relative;
    width: 100%;
    align-items: center;
}
.profile__card__links>*{
    flex-basis: 50%;
    text-align: center;
}
.link__btn{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 70px;
    text-transform: uppercase;
    color: #323232;
    position: relative;
    flex-basis: 50%;
    width: max-content;
    display: flex;
    align-items: center;
    column-gap: 5px;
    justify-content: center;
    transition: color .3s;
}